parameters:

    database:
        host: host
        username: user
        password: pass
        database: db
        lazy: TRUE
        profiler:
            run: false
            explain: true
            file: log.sql
