
{block content}
	{foreach $userBlocks as $block}
		<div class="row contentRow" style="background-color: {!$block->getBackgroundColor()}; color: {!$block->getColor()}; width: {!$widthEnum->getValueByKey($block->getWidth())}">
			<div class="col-lg-12">
				{!str_replace("../../.", "", $block->getBlockContent()->getContentText(true))}
			</div>
		</div>
	{/foreach}
{/block}
