body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
}

h1 {
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}
div.login{
	margin-top: 120px;
}
div.menu {
	width: 100%;
	min-height: 100%;
	background-color: #524e4e;
}
div.adminBody{
	height: 100%;
}
img.adminMenuHeader{
	margin-top: 10px;
	width: 250px;
	height: auto;
}
img.adminMenuFooter {
	width: 200px;
	margin-left: 16px;
	margin-top: 680px;
}
span.menuItem{
	margin-left: -20px;
	margin-right: 10px;
}
.colorWhite{
	color: white;
}
.colorRed{
	color: darkred;
}
.colorGreen {
	color: #5cb85c;
}
.colorGrey {
	color: dimgray;
}
a.menuToggle {
	width: 20px;
	height: 20px;
	background-color: black;
	color: white;
	font-size: 16px;
	padding: 0;
	position: absolute;
	z-index: 999;
}
a.menuToggle:hover {
	color: lightgrey;
}
.alignRight{
	text-align: right;
}
div.userTable{
	width: 95%;
}
.field_info {
	color: grey;
	font-size: 11px;
	margin: 4px;
	padding-bottom: 15px;
}
img.sliderPic{
	width: 15%;
	padding: 4px;
	float: right;
	height: auto;
}
a.sliderPicDelete{

}
a.sliderPicDelete:hover{
	color: darkred;
	opacity: 0.5;
}

/* slider override */
.bx-viewport {
	position: static!important;
	border: 0!important;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
}
/* slider override end */
img.footerList{
	width: auto;
	height: 100px;
	padding: 4px;
}
table.footerPic{

}
div.contactForm{
	padding: 10px;
}
input.contactForm {
	margin: 5px;
}
div.formRow {
	margin-right: 0;
}
input.menuItem {
	margin: 5px;
}
#frm-menuForm table tbody tr th label {
	padding-top: 10px;
	padding-right: 4px;
}

#frm-menuForm table tbody tr td {
	text-align: right;
	padding-left: 10px;
}